

/*
.profile-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.name-row {
  text-align: center;
}

.socials-row {
  display: flex;
  justify-content: center;
}

.icon {
  margin: 10px;
}

.links-row {

}
*/
